#canvas {
    background-color: #353535;
    display: flex;
    margin-left: 300px;
    margin-top: 150px;
    margin-bottom: 10px;
}

div {
    float: left;
    margin-left: 90px;
}

div h1 {
    margin-left: 15px;
}

div button {
    margin-top: 50px;
    width: 150px;
}