body {
    font-family: 'Spicy Rice', cursive;
    background: url(../image/pingPong.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0;
}

#canvas {
    background-color: #469405;
    display: flex;
    margin-top: 150px;
    margin-bottom: 10px;
    border: 2px solid white;
}

div {
    float: left;
    margin: 10px;
}

div h1 {
    font-size: 90px;
    padding-right: 200px;
    margin-left: 10px;
}

.btn.btn-danger {
    margin-left: 20px;
    width: 150px;
    color: black;
}